@model List<PetStore.Models.Animal>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Catalog";
}
@section Styles {

}
<form method="get" action="@Url.Action("Index")">
    <label for="categoryId">Filter by Category:</label>
    @Html.DropDownList("categoryId", (SelectList)ViewBag.Categories, "All Categories", new { onchange = "this.form.submit();" })
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">More Info</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var animal in Model)
        {
            string classinput = (i % 2 == 0) ? "table-success" : "table-light";
            <tr class="@classinput">
                <td>@animal.Name</td>
                <td>@animal.Age</td>
                <td>
                    @if (!string.IsNullOrEmpty(animal.ImagePath))
                    {
                        <img src="@animal.ImagePath" alt="@animal.Name" width="100" />
                    }
                </td>
                <td>@animal.Description</td>
                <td>
                    <a class=" link-dark" asp-area="" asp-controller="Animal" asp-action="Index" asp-route-id="@animal.AnimalId">Info</a>

                </td>
            </tr>
            i++;
        }

    </tbody>
</table>





@section Scripts{

}